name: ci

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-lint:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: front/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: front

      - name: Run linting
        run: npm run lint
        working-directory: front

      - name: Run tests
        run: npm run test
        working-directory: front

      - name: Build React
        run: npm run build
        working-directory: front

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          role-to-assume: ${{ secrets.IAM_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8

      - name: Terraform Initialize
        run: terraform init -input=false
        working-directory: ./terraform

      - name: Terraform Plan
        env:
          TF_VAR_bucket_name: ${{ secrets.BUCKET_NAME }}
        run: terraform plan -input=false -lock=false -out=tfplan
        working-directory: ./terraform

      - name: Upload React artifact
        uses: actions/upload-artifact@v4
        with:
          name: react-build
          path: front/dist

      - name: Upload Terraform Plan
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: terraform/tfplan
