
name: ci

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    test-lint:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read
        steps:
            - name: code checkout
              uses: actions/checkout@v5

            - name: install node JS
              uses: actions/setup-node@v6
              with: 
                node-version: 22
                cache: "npm"
                cache-dependency-path: front/package-lock.json
            - name: install dependencies
              run: npm ci
              working-directory: front
            - name: run linting
              run: npm run lint
              working-directory: front
            - name: run testing
              run: npm run test
              working-directory: front
            - name: build
              run: npm run build
              working-directory: front
            - name: login-to-aws
              uses: aws-actions/configure-aws-credentials@v5.1.0
              with:
                role-to-assume: ${{ secrets.IAM_ROLE }}
                aws-region: ${{ secrets.AWS_REGION }}

            - name: install terraform
              uses: hashicorp/setup-terraform@v3
            - name: terraform initialiaze
              run: terraform init -input=false
              working-directory: terraform
            - name: terraform plan
              env:
                BUCKET_NAME: ${{secrets.BUCKET_NAME}}
              run: |
                terraform plan -input=false -lock=false \
                -var="bucket_name=$BUCKET_NAME"
              working-directory: terraform
            - name: run terraform
              run: terraform plan
              



              



